{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block homeactive %} active {% endblock homeactive %}
{% csrf_token %}
{% block body %}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      
      <div class="card bg-dark">
        <img src="/static/img/ssd.png" class="card-img" alt="tech">
        <div class="card-img-overlay">
          
          
          
          
        </div>
      </div>

    </div>
  </div>


  <div id="sd22" class="card22 my-3" style="width: 17rem;">
    <img src="/static/img/img1.jpg" class="card-img-top" alt="...">
    
  </div>

  <div id="text223" class="bg-warning col col-lg-3 ">
    <p>Subhash Meena is Goal oriented and passionate Python coder, who has a good command in Python, HTML, CSS. Also, he is a creative graphic designer and enthusiastic techie. For more information, you can contact me via mail and social media.</p>
  </div>
<br>
<br>

  <div class="container">
    <div class="card" style="width: 18rem;">
      <img src="/static/img/portfolio-2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Hello World</h5>
        <p class="card-text"><h3>Hello,I'm a designer</h3> I value clarity, empathy, and integrity. Ideal guide my approach to problem solving and life in general.</p>
        <a href="/about" class="btn btn-success">Read More</a>
      </div>
    </div>
    <div id="vx2" class="card" style="width: 18rem;">
      <img src="/static/img/portfolio-4.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Website Design</h5>
        <p class="card-text"><h3>Hello, I'm a Coder</h3>Website design planning is a complicated method and has several important aspects to it.These include structure.</p>
        <a href="/about" class="btn btn-success">Read More</a>
      </div>
    </div>
    <div id="vx3" class="card" style="width: 18rem;">
      <img src="/static/img/portfolio-5.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Research</h5>
        <p class="card-text"><h3>Hello, I'm a Techie</h3>If you have the courage and the commitment to learn coding, then Coding Subhash will empower you..... ....... ..</p>
        <a href="/about" class="btn btn-success">Read More</a>
      </div>
    </div>

  </div>
  
  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('/static/img/unimg1.png');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Hello, I'm Subhash. I'm a passionate coder who loves to imagine things.
          </h2>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="/static/img/img4.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
              <small>Hoshangabad</small>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
              <small>3d</small>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('/static/img/unimg3.png');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">PASSIONATE CODER WITH IMAGINATION</h2>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="/static/img/img4.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
              <small>HFC</small>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
              <small>4d</small>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('/static/img/unimg2.png');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">subhash is a passionate Python developer and a Technology lover.</h2>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="/static/img/img4.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
              <small>CTSC</small>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
              <small>5d</small>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  
{% endblock body %}
